.nav-height {
  min-height: 50px !important;
  height: 50px !important;
}

.content-move-right {
  margin-left: 170px !important;
  transition: ease 0.2s;
}

.content-move-left {
  margin-left: 10px !important;
  transition: ease 0.1s;
}

.active-link {
  background: blue;
  color: white;
}

.mat-button:hover {
  color: white;
}
.mat-button{
  color: black;
}

