<mat-toolbar color="primary" class="nav-height">
  <mat-toolbar-row style="background-color: blue;">
    <button mat-icon-button>
      <mat-icon (click)="openLeftSide()">menu</mat-icon>
    </button>
    <h1 style="margin-left: 10px; color: black;">Quản lý sinh viên</h1>
    <span class="menu-spacer" style="width: 100px;"></span>
    <div>
      <a mat-button [routerLink]="['/dashboard']" [routerLinkActive]="'active-link'">
        <mat-icon mat-list-icon>home</mat-icon> Home
      </a>
      <a mat-button [routerLink]="['/students']" [routerLinkActive]="'active-link'">
        <mat-icon mat-list-icon>folder_shared</mat-icon> Students
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container >
    <mat-sidenav #sidenav (closed)="closeLeftSide()"  style="background-color:rgb(106, 192, 241); margin-top: 19px;">
      <mat-nav-list >
        <a mat-list-item [routerLink]="['/dashboard']">
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a mat-list-item [routerLink]="['/students']">
          <mat-icon>folder_shared</mat-icon>Students
        </a>
        <a mat-list-item (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
  <mat-sidenav-content>
    <div style="
        height: 90vh;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
      " [ngClass]="{'content-move-left': !isOpened,'content-move-right': isOpened}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
