<h1 style="text-align: center;">
  Chào mừng đến với Angular 9 !
</h1>
<br />
<h3>Vài nét</h3>
<p>
  Đây là chương trình Web App đầu tiên dùng Angular
</p>
<p>
  Bên server thì dùng Fake Json Server (server giả): db.json
</p>
<p>Khởi chạy database bằng lệnh: json-server --watch db.json trong cmd tại project</p>
<p>
  Bên client thì dùng ngôn ngữ Angular
</p>
<p>
  Nhiệm vụ của trương trình là quản lý sinh viên đơn giản là thêm, chỉnh sửa,
  xóa dữ liệu ...
</p>
<p>
  Mục đích là học code Angular
</p>

