<div id="formstudent">
  <button
    mat-raised-button
    style="background-color: blue; color: white"
    (click)="addStudent()"
  >
  <mat-icon>add_box</mat-icon>
    Add New Student
  </button>
  <table id="customres" style="border-collapse: collapse">
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Gender</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Dob</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Picture</th>
      <th>Act</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student?.id }}</td>
      <td>{{ student?.code }}</td>
      <td>{{ student?.gender }}</td>
      <td>{{ student?.firstName }}</td>
      <td>{{ student?.lastName }}</td>
      <td>{{ student?.dob }}</td>
      <td>{{ student?.email }}</td>
      <td>{{ student?.phone }}</td>
      <td>{{ student?.picture }}</td>
      <td>
        <mat-icon style="cursor: pointer;" title="Nhấn vào để xóa" (click)="deleteStudent(student.id)">
          clear
        </mat-icon>
        &nbsp;
        <mat-icon style="cursor: pointer;" title="Nhấn vào để soạn" (click)="editStudent(student.id)">
          create
        </mat-icon>
      </td>
    </tr>
  </table>
</div>
