#customres {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customres td,
#customres th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customres tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customres tr:hover {
  background-color: #ddd;
}

#customres th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.badge{
  position: relative;
  top: -10px;
  left: -7px;
  font-variant: x-small;
  padding: 1px 5px 1px 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
